b {
    color: rgb(121, 217, 241);
}

em {
    color: rgb(157, 121, 241);
}

a {
    color: rgba(98, 176, 212);
    font-weight: 500;
    padding: 3px;
    text-decoration: inherit;
}

a:hover {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(98, 176, 212);
    color: rgb(130, 255, 234);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.big-header {
    color: rgba(220, 210, 125);
    margin: 2px;
    font-size: x-large;
  }

  

.text-left {
    margin-bottom: 25px;
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-green {
    color: rgb(32, 170, 32);
}

.text-red {
    color: rgb(209, 47, 47);
}

.text-blue {
    color: rgb(152, 180, 240);
}

.text-blue-light {
    color: #C7FAFF;
}

.text-blue-dark {
    color: rgb(62, 120, 173);
}

.text-gray {
    color: gray;
}

.text-yellow {
    color: rgb(209, 186, 52);
}

.text-white {
    color: white;
}

.text-glow {
    text-shadow: 0 0 2px rgba(98, 176, 212);
}

.font-bold {
    font-weight: 700;
}

.font-small {
    font-size: 0.8rem;
}


.mono-text {
    display: inline-block;
    font-family: monospace;
    line-height: 90%;
    text-align: center;
}


@media (max-width: 800px) {
    h2 {
        margin-top: 0;
    }
}




/* Map Farben */

/* Grenzen / Übergänge */
.boundaries {
    color: #E1D5E7;
    font-weight: bold;
  }
  
  /* Öffentliche Gebäude & Verwaltung */
  .administration {
    color: #FFE599;
    font-weight: bold;
  }
  
  /* Wege, Pfade & Plätze */
  .paths {
    color: #009999;
    font-weight: bold;
  }
  
  /* Handwerk & Herstellung */
  .crafting {
    color: #8F60CC;
    font-weight: bold;
  }
  
  /* Wiederbelebung / Erneuerung */
  .resurrection {
    color: #62B0D4;
    font-weight: bold;
  }
  
  /* Eigene Basis / Heimat */
  .homebase {
    color: #B9E0A5;
    font-weight: bold;
  }
  
  /* Handel & Geschäfte */
  .commerce {
    color: #CDA2BE;
    font-weight: bold;
  }
  
  /* Dunkle Zonen / Schattenbereiche */
  .darkzones {
    color: #004C99;
    font-weight: bold;
  }
  
  /* Wasserwege & Gewässer */
  .waterways {
    color: #3399FF;
    font-weight: bold;
  }
  
  /* Natur / Grünflächen */
  .nature {
    color: #6ECC7B;
    font-weight: bold;
  }
  