.form-container {
  padding: 1rem;
  margin: 1rem auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.nested-section {
  margin-left: 1.5rem;
  padding-left: 0.5rem;
  border-left: 2px solid #ddd;
  margin-bottom: 1rem;
}

.add-button,
.remove-button,
.generate-button {
  cursor: pointer;
  border: none;
  padding: 0.5rem 0.8rem;
  margin-right: 0.5rem;
  border-radius: 4px;
}

.add-button {
  background-color: #356941;
  height: 30px;
  padding: 2px;
  color: #fff;
  margin: 5px;
  border-radius: 8px;
}

.remove-button {
  background-color: #752931;
  width: 200px;
  height: 30px;
  padding: 2px;
  color: #fff;
  margin: 5px;
  border-radius: 8px;
}

.generate-button {
  background-color: #285381;
  height: 30px;
  padding: 2px;
  color: #fff;
  margin-top: 10px;
  margin: 5px;
  border-radius: 8px;
}

.output-container {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

.output-pre {
  background-color: #272822;
  color: #f8f8f2;
  padding: 1rem;
  border-radius: 4px;
  max-height: 300px;
  overflow-y: auto;
}

input,
textarea,
select,
option {
  color: rgba(98, 176, 212);
  border: 1px solid rgb(31, 78, 70);
  background-color: #242424a4;
  padding: 5px;
  margin: 5px;
  box-sizing: border-box;
}

.space-top {
  margin-top: 40px;
}

input[type="number"] {
  width: 50%;
}

.w-50 {
  width: 47%;
}
