.item-card {
  width: 100%;
  padding: 10px;
  /* margin: 10px; */
}

.full {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.grid-row-buy {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 150px 120px 1fr 150px;
  align-items: center;
  gap: 10px;
}

.grid-row-sell {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 180px 120px 1fr 150px;
  align-items: center;
  gap: 10px;
}

.grid-row-view {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 180px 120px 1fr;
  align-items: center;
  gap: 10px;
  min-height: 60px;
}

@media (max-width: 800px) {
  .grid-row-buy {
    display: flex;
    flex-direction: column;
  }

  .grid-row-sell {
    display: flex;
    flex-direction: column;
  }

  .grid-row-view {
    display: flex;
    flex-direction: column;
  }
}