#root {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  color: rgba(98, 176, 212);
  height: 100vh;
}



.milchglas {
  background: #1e2331ad;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.mapImg {
  width: 100%;
  max-width: 900px;
}



.logo {
  max-width: 800px;
  margin-top: 20px;
}

.text-left {
  text-align: left;
  margin-bottom: 25px;
}

.max-width {
  max-width: 900px;
}

.padding-left {
  padding-left: 20px;
}

td {
  text-align: left;
}

.table {
  padding-left: 20px;
  margin-bottom: 25px;
}

.mb-1 {
  margin-bottom: 15px;
}