@import './styles/main.css';

:root {
  background-color: #242424;
  color: rgba(98, 176, 212);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
}

/****************************************** Body *******************************************/
body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100%;
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  place-items: center;
  transition: background 2s ease-in-out, opacity 2s ease-in-out;
}

.body-day {
  background: url('./assets/background.png') center/cover no-repeat;
}

.body-evening {
  background: url('./assets/background2.png') center/cover no-repeat;
}

.body-night {
  background: url('./assets/background3.png') center/cover no-repeat;
}

.body-morning {
  background: url('./assets/background2.png') center/cover no-repeat;
}

/* #A: Container, der den gesamten Viewport abdeckt */
.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Hintergrund, damit der Content drüber liegt */
}

/* #B: Layer, die das Hintergrundbild anzeigen */
.background-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 2s ease-in-out;
  opacity: 1;
}

/* #C: Klasse, um die alte Ebene auszublenden */
.fade-out {
  opacity: 0;
}