:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(98, 176, 212);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('./assets/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  font-weight: 500;
  color: rgba(98, 176, 212);
  text-decoration: inherit;
}

a:hover {
  color: rgb(141, 204, 233);
}

button {
  background: none;
  border: none;
  font-size: medium;
  color: rgba(98, 176, 212);
  margin-bottom: 5px;
}

button:hover {
  color: rgb(141, 204, 233);
}

td {
  text-align: left;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


/* Scrollbalken soll für alle Browser gleich aussehen */
.custom-scrollbar {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: rgb(98, 176, 212, 0.65) transparent;
  position: relative;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  opacity: 0;
  transition: opacity 0.3s;
}

.custom-scrollbar:hover::-webkit-scrollbar {
  opacity: 1;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(98, 176, 212, 0.65);
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

@supports (-ms-overflow-style: none) {
  .custom-scrollbar {
    -ms-overflow-style: none;
  }
}