#header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#footer {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

#content {
    display: flex;
    position: absolute;
    top: 100px;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1900px;
    overflow: hidden;
}

#navi {
    width: 300px;
    padding: 20px;
    overflow-y: auto;
    margin: 20px;
    scrollbar-gutter: stable;
}

#main {
    flex: 1;
    overflow-y: auto;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#charakter {
    width: 300px;
    padding: 20px;
    overflow-y: auto;
    margin: 20px;
    scrollbar-gutter: stable;
}


/* Auf und zuklappen von New Day */
.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.routes-list {
    height: 100%;
    margin-bottom: 20px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: height 0.5s ease-in-out;
}

.new-day {
    display: none;
    height: 0;
    margin: 0;
    transition: height 0.5s ease-in-out;
    background: #1e2331ad;
    overflow-y: auto;
}

/* Wenn der State "showNewDay" true ist, bekommt main-content zusätzlich .split */
.main-content.split .routes-list {
    height: 50%;
}

.main-content.split .new-day {
    display: block;
    padding: 20px;
    height: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: auto;
}



@media (min-width: 1920px) {
    #content {
        width: 1920px;
    }
}

@media (max-width: 1380px) {

    #navi,
    #charakter {
        width: 200px;
        padding: 5px;
        overflow-y: auto;
    }
}

@media (max-width: 800px) {
    #content {
        flex-direction: column;
        flex-wrap: wrap;
        top: 50px;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    #header {
        height: 50px;
    }

    #navi {
        height: auto;
        width: auto;
        font-size: 110%;
        line-height: 160%;
        max-height: 150px;
        padding: 20px;
        margin: 0 0 10px 0;
    }

    #footer,
    #charakter {
        display: none;
    }
}