#header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#mobileHeader {
    display: none;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    top: 5px;
    left: 0;
    z-index: 1000;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 25px 15px 0 90px;

}

#footer {
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

#mobileFooter {
    width: 100%;
    height: 70px;
    display: none;
    gap: 5px;
    position: fixed;
    bottom: 5px;
    left: 0;
    z-index: 1000;
}

#content {
    display: flex;
    position: absolute;
    top: 100px;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1900px;
    overflow: hidden;
    z-index: 10;
}

#navi {
    width: 300px;
    padding: 20px;
    overflow-y: auto;
    margin: 20px;
    scrollbar-gutter: stable;
    line-height: 200%;
}

#main {
    flex: 1;
    overflow-y: auto;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#charakter {
    width: 300px;
    padding: 20px;
    overflow-y: auto;
    margin: 20px;
    scrollbar-gutter: stable;
    line-height: 150%;
}




/* Auf und zuklappen von New Day */
.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.routes-list {
    height: 100%;
    margin-bottom: 20px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: height 0.5s ease-in-out;
}

.new-day {
    display: none;
    height: 0;
    margin: 0;
    transition: height 0.5s ease-in-out;
    background: #1e2331ad;
    overflow-y: auto;
}

/* Wenn der State "showNewDay" true ist, bekommt main-content zusätzlich .split */
.main-content.split .routes-list {
    height: 50%;
}

.main-content.split .new-day {
    display: block;
    padding: 20px;
    height: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: auto;
}



@media (min-width: 1920px) {
    #content {
        width: 1920px;
    }

    #mobileHeader,
    #mobileFooter {
        display: none;
    }
}

@media (max-width: 1380px) {

    #navi {
        width: 270px;
        padding: 10px;
        overflow-y: auto;
    }

    #charakter {
        display: none;
        padding: 0;
        margin-right: 0;
        border: none;
        width: 0px;
    }

    #main {
        margin-right: 20px;
    }

    #header {
        display: none;
    }

    #content {
        top: 95px
    }

    #mobileHeader {
        width: calc(100% - 40px);
        margin: 5px 20px 5px 20px;
        display: flex;
    }

    #mobileFooter {
        display: none;
    }
}

@media (max-width: 800px) {
    #content {
        flex-direction: column;
        flex-wrap: wrap;
        top: 90px;
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);
    }

    #main {
        margin-right: 0;
    }

    #mobileHeader,
    #mobileFooter {
        display: flex;
        width: 100%;
        margin: 5px 0 5px 0;
    }

    #footer,
    #header,
    #navi,
    #charakter,
    .falling-canvas {
        display: none;
    }

    #newDayPop {
        box-sizing: border-box;
        margin-top: -10px;
        margin-bottom: 20px;
    }

    h2 {
        margin-top: 0;
    }

    button {
        padding: 8px;
        font-size: large;
    }

    .mobileBtn {
        box-sizing: border-box;
        border: 1px solid rgba(95, 173, 209, 0.2);
        border-radius: 8px;
        background: linear-gradient(135deg,
                rgba(0, 0, 0, 0.25),
                rgba(0, 0, 0, 0.12) 20%,
                rgba(0, 0, 0, 0.15) 50%,
                rgba(0, 0, 0, 0.12) 80%,
                rgba(0, 0, 0, 0.25));
        width: 100%;
        font-size: large;
        color: rgba(98, 176, 212);
        padding: 8px;
        margin-bottom: -20px;
        display: block;
        /* text-align: center; */
    }
}

#header0,
#header1,
#header2,
#header3,
#header4 {
    display: block;
}

@media (max-width: 1050px) {
    #header4 {
        display: none;
    }
}

@media (max-width: 900px) {
    #header3 {
        display: none;
    }
}

@media (max-width: 650px) {
    #header2 {
        display: none;
    }
}

@media (max-width: 500px) {
    #header0 {
        display: none;
    }
}